.title-border {
    border-bottom: 1px dashed #999;
}

.bd-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-weight: 300;
}

.container-body {
    margin-top: 2rem;
}